#gameHistory {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
    padding: 2rem 0;
}

.gameHistory-items {
    padding: 2rem;
    display: flex;
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    flex-direction: column;
    max-width: 900px;
}


@media screen and (max-width: 768px) {
    .gameHistory-items {
        width: 300px;
    }
}
.section-title {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 2rem 0;
}