/* Leaderboard.css */
.leaderboard {
    background-color: #141627;
    opacity: 0.75; /* Adjust opacity as needed */
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    grid-column: span 3;
    /* background-image: url('/pic0.png'); */
    background-size: 101%;
    background-repeat: no-repeat;
    height: 360px;
    overflow-y: auto;
}

.leaderboardContent {
    padding: 1.5rem;
}

.leaderboardPlaceholder {
    /* background-color: #2c0346; */
    opacity: 0.5; /* Adjust opacity as needed */
    border-radius: 0.25rem;
}


